* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
}

.title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}

/* The div that contains the puzzle */
.puzzle {
  margin-bottom: 20px;
  text-align: center;
}

/* Each span element in the puzzle */
.puzzleSpan {
  display: inline-block;
  font-size: 1em;
  width: 1.5em;
  margin-right: 1px;
  border-width: 0px 0px 2px 0px; /* Underline each letter */
  border-color: gray;
  border-style: solid;
}

/* Guessed Characters/ guesses remaining / gmame status */
.list {
  margin-bottom: 40px;
  text-align: center;
}

#guessed-characters {
  margin-bottom: 30px;
}

.key {
  width: 2rem;
  height: 2rem;
}

.keyboard-row {
  text-align: center;
  padding-bottom: 15px;
} 

.reset {
  text-align: center;
  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
}
#reset {
  width: 8rem;
  height: 2rem;
}
