* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

body {
  background: #20192b;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

div {
  display: inline-block
}

#title {
  color: #bb9e40;
}

.puzzleSpan {
  display: inline-block;
  font-size: 2rem;
  height: 2.5rem;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #ad3131;
  border-bottom: 1px solid #534f59;
  text-transform: uppercase;
  margin: 0 .1rem;
}

.support {
  margin: 5;
  color: #325ce6;
  font-size: 1.2rem;
}
