/* For iphone vertical */
@media screen and (max-width: 414px) {

  .site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

  .play-color {
    background-color: #8cbbd3;
  }

  .win-color {
    background-color: #63ce63; 
  }

  .lose-color {
    background-color: #dd3140;
  }

  .title {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .title > h2 {
    text-align: center;
    font-size: 250%;
    color: black;
  }
  
  /* The div that contains the puzzle */
  .puzzle {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Each span element in the puzzle */
  .puzzleSpan {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2em;
    width: .8em;
    margin-right: 1px;
    background-color: lightgoldenrodyellow;
    border-width: 0px 0px 2px 0px; /* Underline each letter */
    border-color: gray;
    border-style: solid;
  }
  
  #guessed-characters {
    grid-column: 1/4;
    grid-row: 3/4;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    height: 1.5rem;
    width: 100%vp;
    font-size: 1.5em;
    color: black;
  }
  
  /* Guessed Characters/ guesses remaining / game status */
  .list {
    grid-column: 1/4;
    grid-row: 4/5;
    margin-bottom: 40px;
    text-align: center;
  }
  
  #keyboard {
    grid-column: 1/4;
    grid-row: 5/6;
    margin-top: 30px;
  }

  .keyboard-row {
    text-align: center;
    padding-bottom: 15px;
  } 
  
  .key {
    font-size: 1.6em;
    width: 2rem;
    height: 2rem;
    background-color: lightgray;
    color: black;
  }
  
  .reset {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
  }
  #reset {
    font-size: 1.5rem;
    width: 30%;
    background-color: lightgray;
    color: black;
  }

  footer {
    text-align: center;
  }
} 